.portfolio-page-container{
padding: 5em;
width: 100%;
}


.page-header{
    font-weight: 500;
    font-size: 1.5em;
}

.create-button-container{
    margin-top: 1em;
}

.input-container{
    width: 100%;
}

.strategy-table-header{
    margin-top: 2em;
    font-weight: 500;
    font-size: 1.5em;
}

.strategy-table{
    margin-top: 1em;
}

.choose-strategies-section{
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
}

.available-strategies-section{
    width: 48%;
}

.chosen-strategies-section{
    width: 48%;
}

.strategy-item{
    display: flex;
    justify-content: space-between;

}

.add-strategy-button{
    color: blue;
    cursor: pointer;
}

.portfolios-button-container{
    display: flex;
}