.summary-panel-container{
display: flex;
justify-content: space-between;
}

.stats-panel-container{
/* background-color: blue; */
background-color: white;
width: 25%;
border: 1px solid #e6e6e6;
box-shadow: 4px 4px 6px -4px rgb(82 63 105 / 40%);

/* height: 20em; */
}

.summary-curves-container{
    
    width: 73%;
    height: 20em;
    background-color: white;
    box-shadow: 4px 4px 6px -4px rgb(82 63 105 / 40%);
    border: 1px solid #e6e6e6;
}

.switch-buttons-container{
    background-color: #F5F5F5;
}

.switch-button{
    border: none;
    cursor: pointer;
    background-color: #E0E0E0;
}

.switch-title{
    border: none;
}

.small-font{
    font-size: 13px;
}

.table-row-hover{
   
}

.table-row-hover:hover {
    background-color: #F5F5F5;
  }

.table-row{
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    margin-top: 5px;
}

@media (max-width: 900px) {
    .summary-panel-container {
        display: inline;
    
    } 
    .stats-panel-container{
        
        width: 100%;
        
        }
        
        .summary-curves-container{
           margin-top: 1em;
            width: 100%;
           
        }
  }