.nav {
    
    display: flex;
    padding: 0.5em 1em;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: white;
  }


.logo{
    font-size: 19px;
    height: 2em;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
text-align: left;
/* font: normal normal normal 37px/43px Black Widow Movie; */
letter-spacing: 1.26px;
color: black;
opacity: 1;
}

.account-icon-container{
    margin-right: 2em;
    cursor: pointer;
 color: #144FA0;
}