.strategy-page-container{
    padding: 5em;
    width: 100%;
    }
    

.strategy-page-wrapper{
    width: 100%;
}

.page-header{
    font-weight: 500;
    font-size: 1.5em;
}

.create-button-container{
    margin-top: 1em;
}

.input-container{
    width: 100%;
}

.strategy-table-header{
    margin-top: 2em;
    font-weight: 500;
    font-size: 1.5em;
}

.strategy-table{
    margin-top: 1em;
}

.description-area{
    outline: none;
    border: none;
    background-color: #F0F0F0;
    padding: 5px 10px;
}