.container{
    padding: 2em;

}

.title{
    text-align: center;
    margin-top: 2em;
    font-weight: bolder;
}

.table-heading{
    margin-bottom: 1em;
    color: #343434;
    font-weight: bolder;
}
.sub-title{
  text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
}

.window-size-input{
    text-align: right;
}

.body-wrapper {
    display: flex;
  
  }
  
  .body-container {
    /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05); */
    border-radius: 10px;
    width: 85%;
    /* height: 300px; */
    margin:  auto;
    padding: 21px 15px;
  }

.charts-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
    
  }

  .chart-container{
    margin-top: 1.5em;
    width: 48%;
    border: 2px solid #E2E2E2;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 14px;
    padding: 5px;
  }

  .signals-table-container{
    text-align: center;
    margin-top: 2em;
    
  }

  .signals-table-row{
    padding: 10px;
    display: flex;
    justify-content: space-between;
   
  }

.table-cell{
  width: 14%;
}

  .signals-table-row:hover {
   
    background-color: #F5F5F5;
  }

  .signals-table{
    width: 98%;
    margin: auto;
  }

  .header-row{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color:#404040;
    background-color: #D3D3D3;
  }

  .sub-header{
   
    
    width: 85%;
  

    margin: 1em auto;
  }

  .autocomplete-container{
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    
  }
  .chart-skeleton{
    margin-bottom: 2em;
  }

  .eq-dd-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
  }



  @media (max-width: 900px) {
    .body-container {
        width: 98%;
        padding: 0;
    } 

    .container{
      padding: 0.5em;
  
  }

  .chart-container{
    width: 100%;
  }
  }